<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Name</th>
      <th>Exchange</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <%= link_to company do %>
          <td><%= company.symbol %></td>
          <td><%= company.name %></td>
          <td><%= company.exchange %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
