<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Name</th>
      <th>Exchange</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
        <tr>
          <td>
            <%= link_to company do %>
              <%= company.symbol %>
            <% end %>
          </td>
          <td><%= company.name %></td>
          <td><%= company.exchange %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @companies %>
