<p id="notice"><%= notice %></p>

<p>
  <strong>Symbol:</strong>
  <%= @company.symbol %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Exchange:</strong>
  <%= @company.exchange %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
